body{
    font-family: 'Anton', sans-serif;
}
.impressum{
    font-family: 'Lato' !important;
}
@media (min-width:576px) {
    .navigation{
        flex-direction: column;
    }
}

.nomargin{
    margin: 0 !important;
    padding: 0 !important;
}



