body{
    font-family: 'Permanent Marker', cursive;
}
.impressum{
    font-family: 'Lato' !important;
}
@media (min-width:576px) {
    .navigation{
        flex-direction: column;
    }
}
#navbarSupportedContent{
    justify-content: center;
    text-align: center;
}

.nomargin{
    margin: 0 !important;
    padding: 0 !important;
}



